<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>従業員管理システム</title>
	<link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
	<header class="header">
		<h1>従業員管理システム</h1>
	</header>

	<main class="container">
		<div class="card">
			<p>メニューを選択してください。</p>

			<ul class="menu">
				<li>
					<a th:href="@{/employeesList}">従業員一覧</a>
				</li>
				<li>
					<a th:href="@{/search}">従業員検索</a>
				</li>
				<li>
					<a th:href="@{/employees/new}">従業員登録</a>
				</li>
				<li>
					<a th:href="@{/tickets/input}">航空券検索</a>
				</li>
			</ul>
		</div>
	</main>
</body>

</html>